@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&family=Shrikhand&display=swap");

/* 
Logo et titres: Shrikhand
Texte: Roboto
Couleur:
Primaire Secondaire Tertiaire
#9356DC  #FF79DA    #99E2D0
 */

body {
  font-family: "Roboto", "sans-serif";
  margin: 0rem;
}
a {
  color: inherit;
  text-decoration: none;
  position:relative;
}

.header {
  padding: 0.25rem;
  position: relative;
  z-index: 10;

  &__logo {
    font-family: Shrikhand, "cursive";
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
  }
}
.search__form {
  background-color: #fafafa;
  padding: 0rem 2rem 2rem 2rem;
  text-align: center;
  p{
    margin: 0 0 1.5rem 0;
    font-size: 17px;
    font-weight: 300;
}
h1{
    padding: 2rem 0 0.75rem 0;
    margin: 0;
    font-size: 26px;
}

  &Bar {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    margin: 0 -2rem;
    background-color: #f3f3f3;
    font-size: 1.3rem;
    position: relative;
    .icon {
      margin-right: 0.75rem;
      margin-left: 2.5rem;
      align-self: center;
    }
    .input {
      background-color: #f3f3f3;
      border: none;
      margin-right: 0rem;
      font-family: "Roboto", "sans-serif";
      font-size: 16px;
      font-weight: 900;
      max-width: 200px;
    }
    
  }
}
.submit{
    border: 0;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 25px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(355deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;

    &__span{
      font-size: 16px;
    }
}

.operating{
  padding: 1rem;  
}
.tuto{
  padding-left: 0;
  list-style-type: none;
  counter-reset: compteListe;

  &__step{
    padding: 1.5rem;
    margin: 1rem 1rem 1rem .75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 15%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    
    &::before{
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9c02e9;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    position: absolute;
    left: -0.75rem;
    }
    .icon{
      width: 2rem;
      color: #686868;
      text-align: center;
      align-self: center;
      margin-right: 1rem;
    }
    .steptext{
      display:flex;
      justify-content:center;
      font-size: 17px;
      font-weight: 600;
    }
  }
}

.restaurants{
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.flexCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flexCard img {
  width: 100%;
  max-height: 180px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  object-position: bottom;
}

/* sauf seconde img pour object position bottom */

figure {
  margin: 0;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
}

  .card{
    &__new{
      background-color: #99e2d0;
      color: #1b6150;
      padding: 0.5rem;
      border-radius: 10px;
      position: relative;
      top: -50%;
      right: -70%;
    }
}


figcaption p {
  margin: 0rem 2rem 0.25rem 1rem;
}



.footer{
  background-color: #353535;
  
  &__bloc{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__logo{
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
  }
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__listElt{
    margin: 0.5rem 0;
  }
  &__link{
    color: #fff;
    text-decoration: none;
  }
  &__icon{
    width: 1.5rem;
    text-align: center;
  }
}